@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	font-family: 'Inter', sans-serif;
    background: #F5F5F5;
}
main{
	flex: 1 1 auto;
}

@media (min-width:1200px) {
    .container{
        max-width: 1720px;
        padding: 0 60px;
    }
}

@media (max-width:1200px) {
    .container{
        max-width: 100%;
    }
}

/*----------------- text --------------------------*/
.title-h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 120px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin: 0;
    display: block;
    box-sizing: border-box;
    
}
.title-h2 {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 100%;
    color: #26649E;
}
.title-h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
}
.text-p-14 {
    margin-bottom: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #26649E;
}
.text-p-16 {
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
}
#city-search:focus::placeholder{
    color: transparent;
}
input::placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #164C7F;
}
input[type=text]{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #164C7F;
}
@media (max-width:1650px) {
    .title-h2 {
        font-size: 24px;
    }
}
@media (max-width:1350px) {
    .title-h2 {
        font-size: 20px;
    }
    .title-h3{
        font-size: 24px;
    }
}
@media (max-width:768px) {
    .title-h3{
        font-size: 20px;
    }
    
}
/*----------------- HEADER ------------------------*/
.site-header {
    width: 100%;
}

.site-header__body {
    padding: 40px 0;
}
.site-header__row {
}
.site-header__col {
    display: flex;
    align-items: center;
}
.col-site-header {
}
.col-site-header__logo {
    display: flex;
    align-items: center;
}
.col-site-header__logo img{
    margin-right: 20px;
}
.col-site-header__img {
    
}
.col-site-header__title {
    
}

.col-site__item {
    display: inline-grid;
    grid-auto-flow: column;
    grid-gap:20px;
    align-items: center;
    margin-left: 50px;
}
.col-site__img{
    
}
.col-site__img img{
    height: 60px;
}
.col-site__text {
   
    max-width: 162px;
}
.col-site-header__icon{

}
@media (max-width:1650px) {
    .col-site__item {
        margin-left: 20px;
    }
    .col-site__icon{
        width: 40px;
        height: 50px;
    }
}
@media (max-width:1350px) {
    .col-site__item {
        grid-gap:10px
    }
}
@media (max-width:1200px) {
    .col-site-header__title {
        max-width: 350px;
    }
    .site-header__body{
        padding: 20px 0 ;
    }
}
@media (max-width:992px) {
    .col-site-header__title {
        max-width: none;
    }
    
}
@media (max-width:768px) {
    
   
}

/*------------- site-main --------------*/
.site-main { 
    margin-top: 20px;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*------------- indicators --------------*/




.indicators {
    
}

.indicators__body {
    display: grid;
    grid-template-columns: calc(23% - 30px) calc(77% - 30px);
    grid-template-rows: auto 1fr;
    grid-gap: 60px;
    justify-content: space-between;
}


.indicators__numbers {
    grid-column: 1/2;
    grid-row:1/2;
}
.indicators__block-map {
    grid-column: 2/3;
    grid-row:1/3;
    
}
.indicators__text {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
}
.indicators__text-body{
    max-height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border: 3px solid rgba(215, 236, 252, 1);
    background: linear-gradient(94.52deg, #E4F8FF 0%, #CFEAFF 100%);
    box-shadow: 5px 5px 20px #A8CBE7, -5px -5px 20px rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}
.indicators__text-scroll{
    max-height: 100%;
    height: auto;
}
.indicators__text-scroll .text-p-14{
    width:calc(100% - 32px)
}
.indicators__text-scroll.mCustomScrollbar .text-p-14{
    width:100%;
}
/*------------------- scroll setting ------------------*/
._mCS_1 .mCSB_dragger .mCSB_dragger_bar{ 
	background: #004E90;
	border-radius: 100px; 
	width: 5px;
}

.content-site-sound__text::-webkit-scrollbar {
    width: 0;
}
._mCS_2 .mCSB_dragger .mCSB_dragger_bar{ 
    background: #004E90;
	border-radius: 100px; 
	width: 5px;
    margin-right: 0;
    margin-left: 5px;
 }

#mCSB_3_dragger_vertical .mCSB_dragger_bar{ 
    background: #004E90;
	border-radius: 100px; 
	width: 5px;
    margin-right: 0;
    margin-left: 5px;
 }
.mCS-my-theme.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
    background: #004E90;
	border-radius: 100px; 
	width: 5px;
    margin-right: 0;
    margin-left: 8px;
}
.mCSB_inside > .mCSB_container {
    margin-right: 30px;
}
.mCS-my-theme.mCSB_scrollTools .mCSB_draggerRail{ background-color: transparent; } 

#mCSB_1_scrollbar_vertical .mCSB_dragger{ height: 40px; }

#mCSB_1_scrollbar_horizontal .mCSB_dragger{ width: 100px; }

.mCSB_1_scrollbar .mCSB_dragger .mCSB_draggerRail{ 
	width: 8px;
	background: transparent; 
}
.mCSB_1_dragger_vertical{
	height: 100%;

}

.mCustomScrollbar{
	touch-action:auto;
}
/*------------------- scroll setting end------------------*/
.numbers-indicators {
}
.numbers-indicators__items {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-gap:20px;
}
.numbers-indicators__item {
    text-align: center;
    background: linear-gradient(94.52deg, #2772B3 0%, #004E90 100%); 
    box-shadow: -5px -5px 20px 0px rgba(217, 237, 255, 1);
    box-shadow: 5px 5px 20px 0px rgba(0, 78, 144, 1);
    border-radius: 10px;
    padding: 17px 0;
}
.numbers-indicators__number {
    display: block;
    margin-bottom: 10px;
}
.numbers-indicators__text {
    display: block;
    margin-top: 5px;
}

.indicators__text .text-p-14 {
    color: #164C7F;
}

.block-map-indicators {
    
}
.block-map-indicators__body {
    height: 100%;
    position: relative;
}
.block-map-indicators__search-map{
    z-index: 9999;
    position: absolute;
    left: 40px;
    top: 40px;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap:5px;
}
    
.block-map-indicators__search-map input[type=text]:focus{
    outline: none;
}
.block-map-indicators__search-map input{
    background: linear-gradient(94.52deg, #F3FCFF 0%, #DBE4EB 100%);
    box-shadow: inset 7px 7px 10px #96BDDD, inset -7px -7px 10px #FFFFFF;
    border-radius: 10px;
    border:solid #DBE4EB 4px;
    height: 50px;
    width:100%;
    padding:17px 15px;
    z-index: 99;
}
.block-map-indicators__search-map button{
    position: absolute;
    right: 15px;
    top: 12px;
    width: 20px;
    height: 20px;
    border: none;
    background: none;
}
.block-map-indicators__info {
    position: absolute;
    z-index: 999;
    bottom: 40px;
    right: 40px;
    margin: -7.5px 0;
    background: linear-gradient(94.52deg, #F3FCFF 0%, #DBE4EB 100%);
    box-shadow: inset 7px 7px 10px #96BDDD, inset -7px -7px 10px #FFFFFF;
    border-radius: 10px;
    padding: 30px;
    border:solid #DBE4EB 4px;
}

.info-map-indicators__item {
    text-align: left;
}
.info-map-indicators__item:not(:last-child){
    margin-bottom: 14px;
}

.info-map-indicators__item .text-p-16 {
    display: block;
    color: #164C7F;
    text-align: left;
    position: relative;
    max-width: calc(100% - 40px);
    margin-left: 40px;
    height: 20px;
}
.info-map-indicators__item:nth-child(1) .text-p-16::before,
.info-map-indicators__item:nth-child(2) .text-p-16::before{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -40px;
    width: 30px;
    height: 5px;
    background: #00B050;
    margin-right: 10px;
}
.info-map-indicators__item:nth-child(2) .text-p-16::before{
    background: #00B0F0;
}
.block-map-indicators__map-body {
    height: 100%;
    box-shadow: -7px -7px 15px 0px rgba(255, 255, 255, 0.8);
    box-shadow: 7px 7px 15px 0px rgba(168, 203, 231, 1);
    border: 8px solid rgba(215, 236, 252, 1);
    border-radius: 20px;
    z-index: 5;
    overflow: hidden;
}
.block-map-indicators__map{
    height: 100%;
    width: 100%;
}
/*------------------ result-serch ---------------*/
.block-map-indicators__search-result {
    background: linear-gradient(94.52deg, #F3FCFF 0%, #DBE4EB 100%);
    box-shadow: inset 7px 7px 7px #96BDDD, inset -7px -7px 10px #FFFFFF;
    border-radius: 10px;
    padding: 15px;
    border: solid #DBE4EB 4px;
    box-sizing: border-box;
    visibility: hidden;
    transform: translateY(20px);
    opacity: 0;
    transition: all 0.2s linear;
}

.block-map-indicators__search-result.search-show{
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
}
.search-result-indicator__list{
    max-height: 146px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: -5px 0;
    margin-top: 5px;
    
}
.search-result-indicator__list{
    cursor: pointer;
}
.indicator-search__not-found{
    color: #164C7F;
    text-decoration: none;
    list-style: none;
    text-align: left;
    
}
.search-result-indicator__link {
    text-decoration: none;
    list-style: none;
    color: #94ABBC;
    text-align: left;
    height: 20px;
    margin: 5px 0;
    cursor: pointer;
}
.indicator-search-mark{
    color: #164C7F;
}
.search-result-indicator__link .text-p-16 {
    
}
.search-result-indicator__link:nth-child(1){
    margin-top: 0;
}
/*------------------ result-serch and---------------*/

@media (max-height:902px) and (min-width:992px) {
    .col-site__text .text-p-14{
        font-size: 12px;
        line-height: 120%;
    }
    .site-header__body{
        padding: 20px 0 20px 0;
        grid-row-gap:34px;
       
    }
    .indicators__body {
        grid-gap:30px;
        min-height: 570px;
        grid-template-columns: calc(25% - 15px) calc(75% - 15px);
        grid-template-rows: auto 1fr;
    }
    .numbers-indicators__items{
        
    }
    .numbers-indicators__item{
        height: 100%;
        width: 100%;
    }
    .indicators__text-scroll .text-p-14{
        font-size: 12px;
        
    }
    .numbers-indicators__item span.title-h3{
        font-size: 24px ;
    }
    .indicators__numbers{
    }
    .info-map-indicators__item:not(:last-child){
        margin-bottom: 5px;
    }
    .block-map-indicators__info {
        padding: 20px 20px;
        max-width:100%;
        bottom: 25px;
        right: 20px;

    }
    .block-map-indicators__search-map{
        top: 20px;
        left: 20px;
    }
    
}


@media (max-width:1201px) {
    .indicators__body {
        grid-gap:30px;
        min-height: 550px;
        grid-template-columns: calc(25% - 15px) calc(75% - 15px);
    }
    .indicators__numbers{
    }
    .block-map-indicators__info {
        padding: 20px 20px;
        max-width:100%;
        bottom: 30px;
        right: 20px;
    }
    .block-map-indicators__search-map{
        top: 20px;
        left: 20px;
    }
    .info-map-indicators__item:not(:last-child){
        margin-bottom: 5px;
    }
    .search-result-indicator__list {
        max-height: 96px;
        display: flex;
        flex-direction: column;
        gap:10x;
        margin: 0;
        padding: 0;
    }
    
    
}
@media (max-width:991px) {
    .site-main{
        margin-top: 20px;
    }
    .indicators__body {
        display: grid;
        grid-template-columns: 100%;
        justify-content: center;
        margin: -20px 0;
        height: auto;
        grid-row-gap: 0;
    }
    .indicators__numbers{
        grid-column: 1/2;
        grid-row: 1/2;
        margin: 20px 0;
        padding: 0;
    }
    .indicators__text{
        margin: 20px 0;
        grid-row: 3/4;
        grid-columns: 1/2;
    }
    .indicators__text-scroll{
        max-height: 220px ;
    }
    .block-map-indicators__body{
        height: 550px;
    }
    
    .indicators__block-map{
        grid-row: 2/3;
        grid-column: 1/2;
        margin: 20px 0;
        min-height: none;
    }
    .block-map-indicators__map-body{
        height: 100%;
        
    }
    .block-map-indicators__search-map{
        z-index: 9999;
        position: absolute;

    }
    .block-map-indicators__search-map input{
        width: 100%;
    }
    .numbers-indicators__items{
        grid-template-columns: repeat(2, calc(50% - 10px));
        grid-gap:20px;
    }
    .numbers-indicators__item{
        display: inline-block;
        box-sizing: border-box;
    }
    
}
@media (max-width:769px) {
    .block-map-indicators__body{
        height: 500px;
    }
    .block-map-indicators__search-map{
        width: calc(100% - 40px);
    }
   
    .numbers-indicators__number {
        display: block;
        margin-bottom: 2.5px;
    }
    .numbers-indicators__text {
        display: block;
        margin-top: 2.5px;
    }
    .block-map-indicators__search-map{
        gap:5px;
    }
    
}
@media (max-width:560px) {
    .numbers-indicators__items{
        grid-template-columns: 100%;
        
    }
    .block-map-indicators__info{
        padding: 10px 15px;
        width: calc(100% - 40px);
    }
    .indicators__text-scroll .text-p-14{
        font-size: 12px;
        //line-height: 120%;
    }
}

/*---------------------- loading -----------------*/
.loading {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background: #fff;   
    z-index: 999999999;
}
.loading.bg-loading{
    visibility: visible;
    opacity: 1;
    transition: all 1s ;
}
.loading.hide-loading{
    opacity: 0;
    filter: blur(5px);
    visibility: hidden;
}
.loading__bg{
    display: none;
}
.loading__body {
    
    height: 100%;
}
.loading__content {
    
    position: absolute;
    top: 0;
    left: 3.75rem;
    height: 100%;
    width: calc(100% - 7.5rem);
    padding: 3.75rem 0;
}
.loading__title:not(:last-child){
    margin-bottom: 2.5rem;
}
.loading__title{
    
    position: relative;
   

}

.loading__title .title-h1.loading__transparent{
    position: relative;
    mix-blend-mode: screen;
    color: #000;
    z-index: 9;
    padding: 3.125rem;
    position: relative;
    background: rgba(250,250,250,0.7);
}

.loading__title .title-h1.loading__full{
    position: absolute;
    top: 0;
    left: 0;
    padding: 3.125rem;
    height: 30%;
    width:100%;
    z-index: 10;
    overflow: hidden;
    background-image: linear-gradient(#26649E ,#26649E );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /*---- 120px it's adding font size -------*/
    background-position: left 0 top calc(120px * 2);
    background-repeat: no-repeat;
   
    display: table;
}
.loading__title .title-h1.loading__full.load{
    animation: loader 3s ease-in;
}
@keyframes loader {
    0%{ background: linear-gradient(0deg, #2772B3 0%, transparent 50%);}
    50%{ background: linear-gradient(0deg, #2772B3 50%, transparent 50%);}
    100%{ background: linear-gradient(0deg, #2772B3 100%, transparent 50%);}
}   

@media (max-height:1050px) and (min-width:992px){
    .loading__title{
        
    }
    .loading__title .title-h1{
        font-size: 80px;
    }
    .loading__title .title-h1.loading__transparent{
        padding: 30px;
    }
    .loading__title .title-h1.loading__full{
        top: 0;
        left: 0;
        padding: 30px;
        /*---- 80px it's adding font size -------*/
        background-position: left 0 top calc(80px * 2);
    }
}
@media (max-width:1200px) {
    .loading__content {
        width: calc(100% - 30px);
        left: 15px;
    }
}
@media (max-width:1025px) {
    
    .loading__title .title-h1{
        font-size: 56px;
    }
    .loading__title .title-h1.loading__transparent{
        padding: 30px;
    }
    .loading__title .title-h1.loading__full{
        top: 0;
        left: 0;
        padding: 30px;
        /*---- 56px it's adding font size -------*/
        background-position: left 0 top calc(56px * 2);
    }
}
@media (max-width:768px) {
    
    .loading__title .title-h1{
        font-size: 38px;
    }
    .loading__title .title-h1.loading__transparent{
        padding: 20px;
    }
    .loading__title .title-h1.loading__full{
        top: 0;
        left: 0;
        padding: 20px;
        /*---- 38px it's adding font size -------*/
        background-position: left 0 top calc(38px * 2);
    }
}
@media (max-width:560px) { 
    .loading__title .title-h1{
        font-size: 28px;
    }
    .loading__title .title-h1.loading__transparent{
        padding: 15px 10px;
    }
    .loading__title .title-h1.loading__full{
        top: 0;
        left: 0;
        padding: 15px 10px;
        /*---- 28px it's adding font size -------*/
        background-position: left 0 top calc(28px * 2);
    }

}

/*---------------- popup -------------------*/

.popup-map-search {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s;
    
}
.popup-map-search.open-search-result{
    visibility: visible;
    opacity: 1;
}

.popup-map-search__body {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: auto;
    max-height: calc(100vh - 30px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    gap: 30px;
    background: #FFFFFF;
    border-radius: 10px;
    width: 700px;
    box-sizing: border-box;
    
    z-index: 99;
    opacity: 0;
    transition: all 0.2s;
    transform: translate(-50% ,calc((-50%) + 100px));
}
.popup-map-search.open-search-result .popup-map-search__body{
    opacity: 1;
    transform: translate(-50% ,-50%);
}
.popup-map-search__close{
    position: absolute;
    top: 30px;
    right: 30px;
    height: 18px;
    width: 18px;
    cursor: pointer;
}

.popup-map-search__close::before,
.popup-map-search__close::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 25.5px;
    height: 2px;
    background: #26649E;
    cursor: pointer;
}
.popup-map-search__close::after{
    transform: rotate(45deg);
}
.popup-map-search__close::before{
    transform: rotate(-45deg);
}
.popup-map-search__title {
}
.popup-map-search__title .title-h3 {
    color: #164C7F;
    text-align: left;
}
.popup-map-search__text {
}
.popup-map-search__text .text-p-16 {
    color: #164C7F;
    text-align: left;
}
.popup-map-search__img {
    min-height: 350px;
    width:100%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.popup-map-search__img img{
    position: absolute;
    width:100%;
    height: 100%;
    object-fit: cover;
}
.popup-map-search__close-viev{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;   
}

@media (max-width:768px) {
    .popup-map-search__body {
        padding: 20px;
        gap: 15px;
        width: calc(100% - 30px);
        overflow: auto;
    }
    .popup-map-search__img {
        min-height: 46vw;
        width:100%;
        position: relative;
    }
    .popup-map-search__close{
        position: absolute;
        top: 20px;
        right: 20px;
        height: 18px;
        width: 18px;
        cursor: pointer;
    }
    .popup-map-search__close::before,
    .popup-map-search__close::after{
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 23px;
        height: 2px;
        background: #26649E;
        cursor: pointer;
    }
    .popup-map-search__close::after{
        transform: rotate(45deg);
    }
    .popup-map-search__close::before{
        transform: rotate(-45deg);
    }
    .popup-map-search__text .text-p-16 {
        font-size: 14px;
    }
}
@media (max-width:560px) {
    .popup-map-search__body {
        padding: 15px 10px;
        gap: 10px;
        width: calc(100% - 30px);
        
    }
    .popup-map-search__close{
        position: absolute;
        top: 15px;
        right: 10px;
        height: 18px;
        width: 18px;
        cursor: pointer;
    }
    .popup-map-search__close::before,
    .popup-map-search__close::after{
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 15px;
        height: 2px;
        background: #26649E;
        cursor: pointer;
    }
    .popup-map-search__close::after{
        transform: rotate(45deg);
    }
    .popup-map-search__close::before{
        transform: rotate(-45deg);
    }
    .popup-map-search__text .text-p-16 {
        font-size: 14px;
    }
}
/*---------------- popup end-------------------*/
/*---------------------- footer -----------------*/
.site-footer {
    width: 100%;
    overflow: hidden;
    margin-top: 2.5rem;
}
.site-footer__body {
}
.site-footer__content {
}
.site-footer__image {
    
    height: 4.375rem;
    width: 100vw;
    background-position: left;
    background-size: cover;
}
.site-footer__image-svg{
    display: none;
}
@media (max-width:1301px) {
    .site-footer{
        margin-top: 30px;
    }
}
@media (max-width:992px) {
    .site-footer__content {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2 ,50%);
        margin-bottom:10px;
    }
    
    .col-site__item{
        margin-left: 0;
        grid-template-columns: 50px auto;
    }
}


@media (max-width:560px) {
    .site-footer__content {
        grid-template-columns: 100%;
        grid-gap:20px;
    }
    .col-site__text .text-p-14{
        font-size: 12px;
        line-height: 120%;
    }
}